/* 1. LOAD THE FILE */
@font-face {
  font-family: 'SF Pro';
  src: url('./assets/fonts/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* 2. APPLY IT */
body {
  /* We removed ', sans-serif'. Now it ONLY looks for SF Pro. */
  font-family: 'SF Pro'; 
  margin: 0;
  background-color: #f5f5f5;
  font-size: 13px; /* Global base size */
  
}

/* 3. FORCE OVERRIDES 
   Use !important to ensure Bootstrap doesn't overwrite our font 
*/
h1, h2, h3, h4, h5, h6,
input, button, select, textarea,
.form-control, .form-select, .btn, 
.navbar, .card, strong, b, label,  p, div {
  font-family: 'SF Pro' !important;
  font-size: 12px;
}

span{
  font-size: 14px;
}
/* Utilities */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace; 
}

.form-card {
  transition: all 0.2s ease-in-out;
}
.form-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.cursor-pointer { cursor: pointer; }

/* Remove default blue outlines */
.btn:focus,
.form-control:focus,
.form-select:focus {
  box-shadow: none;
  outline: none;
}

.formio-component-submit {
  margin-top: 20px;
}